* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolioElement {
  width: 80vw;
  left: 10vw;
  height: 100vh;
  position: relative;
}

.screenMainContainer {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
}

.pc {
  width: 80vw;
  position: relative;
  left: 15vw;
  height: 70vh;
  border-radius: 30px;
  border: 35px solid black;
}

p {
  color: white;
  width: 95vw;
  text-align: center;
  margin-top: -30px;
  z-index: 2;
  position: relative;
  left: 5vw;
}

.screenStand {
  width: 15vw;
  position: relative;
  left: 46vw;
  margin-top: -10px;
  height: 15vw;
  overflow: hidden;
  background: #000;
  margin-bottom: 50px;
}

.standElement1, .standElement2 {
  height: 96%;
  width: 100%;
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.standElement1 {
  left: -60%;
  top: 2%;
}

.standElement2 {
  left: 60%;
  top: -94%;
}

.phoneMainContainer {
  height: 40vw;
  width: 22vw;
  border: 0.8vw solid black;
  border-radius: 30px;
  border-bottom: 4vw solid black;
  overflow: hidden;
  margin-bottom: 20px;
  position: absolute;
  left: 2vw;
  top: 35vh;
}
.phoneBg{
  position: absolute;
  z-index: -5;
  width: 150%;
  height: 150%;
  background: #000;
  top: -10%;
  left: -10%;
}
.phone {
  height: 40vw;
  width: 22vw;
  position: relative;
  top: -2px;
  left: -1.3vw;
  overflow-x: hidden;
}

.phoneBtnContainer {
  width: 22vw;
  position: absolute;
  margin:-4.8vw 0 0 -2vw;
  z-index: 5;
}

.phoneBtn {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  background: grey;
}
